{% include 'common_block.html' %}
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3 class="heading">Product Details</h3>
                <a href="{% url 'addCoupon' %}"><button>Add Coupon</button></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Coupon code</td>
                                <td>Discount type</td>
                                <td>Valid from</td>
                                <td>Valid to</td>
                                <td>Discount value</td>
                                <td>Minimum purcase amount for discount</td>
                                <td>Usage limit</td>
                                <td>Image</td>
                                <td>Active</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{i.code}}</td>
                                <td>{{i.discount_type}}</td>
                                <td>{{i.valid_from}}</td>
                                <td>{{i.valid_to}}</td>
                                <td>{{i.discount_value}}</td>
                                <td>{{i.min_purchase_amount}}</td>
                                <td>{{i.usage_limit}}</td>
                                <td>
                                    {% if i.image  %}
                                    <img src="{{ i.images.url }}" alt="{{i.code}}" width="100">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if i.active %}
                                    <button class="block_btn"><i class="fa-solid fa-check"></i></button>
                                    {% else %}
                                    <button class="unblock_btn"><i class="fa-solid fa-xmark"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>