{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin_css/dashboard_style.css' %}">
</head>

<body>

    {% include 'common_block.html' %}
    <div class="cards">
        <div class="card-single">
            <div>
                <h1 id="customer"></h1>
                <span>Users</span>
            </div>
            <div>
                <span class="las la-users"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1 id="project"></h1>
                <span>Products</span>
            </div>
            <div>
                <span class="las la-clipboard"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1 id="order"></h1>
                <span>Confirmed Orders</span>
            </div>
            <div>
                <span class="las la-shopping-bag"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1><sup>₹</sup>
                    <p id="income"><b>k</b></p>
                </h1>
                <span>weekly Income</span>
            </div>
            <div>
                <span class="lab la-google-wallet"></span>
            </div>
        </div>
    </div>
    <div class="recent-grid">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h3 class="heading">New Products</h3>
                    <button>See all <span class="las la-arrow-right"></span></button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <td>Product Name</td>
                                <td>Category</td>
                                <td>Subcategory</td>
                                <td>Price</td>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in data %}
                            <tr>
                               
                                <td>{{i.name}}</td>
                                <td>{{i.category}}</td>
                                <td>{{i.subcategory}}</td>
                                <td>{{i.price}}</td>
                            {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="customers">
            <div class="card">
                <div class="card-header">
                    <h3 class="heading">New customer</h3>
                    <button>Sell all<span class="las la-arrow-right"></span></button>
                </div>

                <div class="card-body">
                    <div class="customer">
                        <div class="info">
                            <div>
                                {% for i in user %}
                                <h4>
                                    {{i.username}}</h4>
                                <small>{{i.email}}</small>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </main>
    </div>
    <script src="{% static 'admin_js/dashboard_script.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userCount = {{ user_count }};
            const orderCount = {{ order_count }};
            const productCount = {{ product_count }};
            const incomeAmount = {{ total_income|floatformat:2 }};

            document.documentElement.style.setProperty('--customer-num', userCount);
            document.documentElement.style.setProperty('--project-num', productCount);
            document.documentElement.style.setProperty('--order-num', orderCount);
            document.documentElement.style.setProperty('--income-num', incomeAmount);

        });
    </script>
</body>

</html>