{% load cart_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table th, table td {
            border: 1px solid #bf2f2f;
            padding: 8px;
            text-align: left;
        }
        .orderStatus {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
        .orderStatus.Pending {
            background-color: #f9c74f;
        }
        .orderStatus.Delivered {
            background-color: #90be6d;
        }
        .orderStatus.Cancelled {
            background-color: #f94144;
        }
        .payment {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
        .payment .failed{
            background-color: #492525;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
        .payment .success{
            background-color: #91ca1d;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
        .payment .pending{
            background-color: #2382a6;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
        }
    </style>
</head>

<body>
    {% include 'common_block.html' %}
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3 class="heading">Order Details</h3>
            </div>
            <div class="card-body">
                <form id="filter-form">
                    <label for="order_status">Order Status:</label>
                    <select name="order_status" id="order_status">
                        <option value="">All</option>
                        {% for status in order_statuses %}
                            <option value="{{ status }}" {% if status == selected_order_status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>

                    <label for="payment_status">Payment Status:</label>
                    <select name="payment_status" id="payment_status">
                        <option value="">All</option>
                        {% for status in payment_statuses %}
                            <option value="{{ status }}" {% if status == selected_payment_status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Apply Filters</button>
                </form>
                <div cclass="table-responsive" id="orders-table">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>User</th>
                                <th>Variations</th>
                                <th>SKU</th>
                                <th>Payment Method</th>
                                <th>Shipping Address</th>
                                <th>Order Total</th>
                                <th>Payment Status</th>
                                <th>Order Status</th>
                                <th>Change Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            {% for line in order.orderline_set.all %}
                            <tr>
                                {% if forloop.first %}
                                <td rowspan="{{ order.orderline_set.count }}">#{{ order.id }}</td>
                                {% endif %}
                    
                                <td>
                                    {% if line.product_configuration.product.images.first %}
                                    <img src="{{ line.product_configuration.product.images.first.image.url }}" alt="Product Image" width="60" height="60">
                                    {% else %}
                                    <img src="https://via.placeholder.com/60" alt="Product Image">
                                    {% endif %}
                                </td>
                                <td>{{ line.product_configuration.product.name }}</td>
                                <td>{{ order.user.username }}</td>
                                <td>
                                    {% for option in line.product_configuration.product.configurations.first.variation_options.all %}
                                    {{ option.variation.name }}: {{ option.value }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ line.product_configuration.product.SKU }}</td>
                                {% if forloop.first %}
                                <td rowspan="{{ order.orderline_set.count }}">{{ order.payment_method.payment_type }}</td>
                                <td rowspan="{{ order.orderline_set.count }}">{{ order.shipping_address.address_line1 }}, {{ order.shipping_address.city }}, {{ order.shipping_address.region }}, {{ order.shipping_address.country }}</td>
                                <td rowspan="{{ order.orderline_set.count }}">${{ order.order_total }}</td>
                                <td rowspan="{{ order.orderline_set.count }}">
                                <div class="payment">
                                {% if order.payment_status.status == 'Payment Failed' %}
                                <p class="failed">{{ order.payment_status }}</p>
                                {% elif order.payment_status.status == 'Payment Completed' %}
                                <p class="success">{{ order.payment_status }}</p>
                                {% elif order.payment_status.status == 'Payment Pending' %}
                                <p class="pending">{{ order.payment_status }}</p>
                                {% endif %}
                                </div>
                                </td>
                                <td rowspan="{{ order.orderline_set.count }}"><span class='orderStatus {{ order.order_status.status }}' >{{ order.order_status.status }}</span></td>
                                <td rowspan="{{ order.orderline_set.count }}">
                                    <button onclick="changeOrderStatus('{{ order.id }}', 'Cancelled')">Cancel</button>
                                    <button onclick="changeOrderStatus('{{ order.id }}', 'Pending')">Pending</button>
                                    <button onclick="changeOrderStatus('{{ order.id }}', 'Delivered')">Delivered</button>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterForm = document.getElementById('filter-form');
        const ordersTable = document.getElementById('orders-table');

        filterForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(filterForm);
            const queryString = new URLSearchParams(formData).toString();

            fetch(`{% url 'orders' %}?${queryString}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                ordersTable.innerHTML = data.table_html;
            })
            .catch(error => {
                console.error('Error fetching orders:', error);
            });
        });
    });

        function changeOrderStatus(orderId, status) {
            fetch(`/administration/change_order_status/${orderId}/?status=${status}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to change order status');
                    }
                })
                .catch(error => {
                    console.error('Error changing order status:', error);
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>

</html>
