<!DOCTYPE html>
<html>
<head>
    <title>Variation Combination</title>
    <style>
            input, select {
            color: #000 !important;
            opacity: .6;
            /* width: 250px; */
            /* height: 50px; */
            /* font-size: 28px !important; */
            border-radius: 5px;
        }
        .variation{
            color: #000;
            font-size: 22px!important;
        }
    </style>
</head>
<body>
    {% include 'common_block.html' %}

    <h1>Select Variation Options for {{ product.name }}</h1>

<form method="post" id="productConfigurationForm">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                {% for variation in product.variation_set.all %}
                <th>{{ variation.name }}</th>
                {% endfor %}
                <th>Price</th>
                <th>Stock</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for combo in combinations %}
            <tr>
                {% for option in combo.combination %}
                <td class="variation">{{ option.value }}</td>
                {% endfor %}
                <td>
                    <input type="number" name="price_{{ combo.index }}" step="0.01" value="{{ combo.price }}">
                </td>
                <td>
                    <input type="number" name="stock_{{ combo.index }}" value="{{ combo.qty_in_stock }}">
                </td>
                <td>
                    <input type="checkbox" name="selected_combinations" value="{{ combo.index }}" {% if combo.is_existing %}checked{% endif %}>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card-header">
        <button type="submit">Save Selected Combinations</button>
    </div>
</form>

    <script>
        document.getElementById('productConfigurationForm').onsubmit = function() {
            var checkboxes = document.getElementsByName('selected_combinations');
            var checked = Array.prototype.slice.call(checkboxes).some(function(el) {
                return el.checked;
            });
            if (!checked) {
                alert('Please select at least one combination.');
                return false;
            }
        }
    </script>
</body>
</html>
