{% load cart_extras %}
    {% include 'common.html' %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'userHome' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'shop' %}">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


   <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Billing Address</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="address-select">Select Address</label>
                        <div id="address-select" class="list-group">
                            {% for address in addresses %}
                                <button type="button" class="list-group-item list-group-item-action {% if address == default_address %}active{% endif %}"
                                        data-address-id="{{ address.id }}"
                                        data-unit-number="{{ address.unit_number }}"
                                        data-street-number="{{ address.street_number }}"
                                        data-address-line1="{{ address.address_line1 }}"
                                        data-address-line2="{{ address.address_line2 }}"
                                        data-city="{{ address.city }}"
                                        data-region="{{ address.region }}"
                                        data-postal-code="{{ address.postal_code }}"
                                        data-country="{{ address.country }}">
                                    Address {{ forloop.counter }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Unit Number</label>
                        <input class="form-control" id="unit_number" type="text" value="{{ default_address.unit_number }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Street Number</label>
                        <input class="form-control" id="street_number" type="text" value="{{ default_address.street_number }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" id="address_line1" type="text" value="{{ default_address.address_line1 }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" id="address_line2" type="text" value="{{ default_address.address_line2 }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" id="city" type="text" value="{{ default_address.city }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Region</label>
                        <input class="form-control" id="region" type="text" value="{{ default_address.region }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Postal Code</label>
                        <input class="form-control" id="postal_code" type="text" value="{{ default_address.postal_code }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <input class="form-control" id="country" type="text" value="{{ default_address.country }}" readonly>
                    </div>
                    <!-- Other form fields if needed -->
                </div>
                <a href="{% url 'addAddress' user.id %}"><button class="add-address-btn"><i class="fas fa-plus"></i> Add New Address</button></a>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% for item in cart_items %}
                        <div class="d-flex justify-content-between">
                            <p>{{ item.product_configuration.product.name }}</p>
                            {% if item.product_configuration.variation %}
                                <p>{{ item.product_configuration.variation.get_variation_display }}</p>
                            {% endif %}
                            <p>${{ item.product_configuration.price }} x {{ item.qty }}</p>
                            <p>${{ item.qty|mul:item.product_configuration.price }}</p>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>${{ cart_items|calc_subtotal }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>${{ cart_items|calc_total }}</h5>
                    </div>
                </div>
            </div>
            
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="cod" value="cod">
                            <label class="custom-control-label" for="cod">Cash On Delivery</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3" id="place-order-btn">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>

                
    <!-- Checkout End -->

<!-- Modal -->
<div class="modal fade" id="addressConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="addressConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressConfirmationModalLabel">Confirm Your Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Address: <span id="userAddress"></span></p>
                <p>Are you sure you want to use this address for Cash on Delivery?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmAddressButton">Confirm</button>
            </div>
        </div>
    </div>
</div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- Footer End -->
    <form id="checkoutForm" action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <!-- Payment Method Selection -->
    <div>
        <label for="payment">Payment Method:</label>
        <select name="payment" id="payment">
            {% for method in payment_methods %}
                <option value="{{ method.id }}">{{ method.provider }} ({{ method.payment_type.name }})</option>
            {% endfor %}
        </select>
    </div>
    <!-- Other checkout form fields here -->
    <button type="submit" class="btn btn-primary font-weight-bold py-3">Place Order</button>
    {% if show_modal %}
    <div class="modal" tabindex="-1" role="dialog" id="noAddressModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No Address Found</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>No address found for user. Please add an address to proceed with the checkout.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addressButtons = document.querySelectorAll('#address-select .list-group-item');

        addressButtons.forEach(button => {
            button.addEventListener('click', function() {
                addressButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');

                document.getElementById('unit_number').value = this.dataset.unitNumber || '';
                document.getElementById('street_number').value = this.dataset.streetNumber || '';
                document.getElementById('address_line1').value = this.dataset.addressLine1 || '';
                document.getElementById('address_line2').value = this.dataset.addressLine2 || '';
                document.getElementById('city').value = this.dataset.city || '';
                document.getElementById('region').value = this.dataset.region || '';
                document.getElementById('postal_code').value = this.dataset.postalCode || '';
                document.getElementById('country').value = this.dataset.country || '';
            });
        });

        // Trigger click event to populate form with default address on page load
        document.querySelector('#address-select .list-group-item.active').click();
    });
</script>
<!-- Include SweetAlert CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var addressSelectButtons = document.querySelectorAll('#address-select .list-group-item');
    var placeOrderButton = document.getElementById('place-order-btn');

    // Address selection handling
    addressSelectButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            // Remove active class from all buttons
            addressSelectButtons.forEach(function (btn) {
                btn.classList.remove('active');
            });

            // Add active class to the clicked button
            button.classList.add('active');

            // Update form fields with selected address data
            document.getElementById('unit_number').value = button.getAttribute('data-unit-number');
            document.getElementById('street_number').value = button.getAttribute('data-street-number');
            document.getElementById('address_line1').value = button.getAttribute('data-address-line1');
            document.getElementById('address_line2').value = button.getAttribute('data-address-line2');
            document.getElementById('city').value = button.getAttribute('data-city');
            document.getElementById('region').value = button.getAttribute('data-region');
            document.getElementById('postal_code').value = button.getAttribute('data-postal-code');
            document.getElementById('country').value = button.getAttribute('data-country');
        });
    });

    // Place order button click event
    placeOrderButton.addEventListener('click', function (event) {
        event.preventDefault();

        // Validate cart items
        var cartItems = {{ cart_items|length }};
        if (cartItems === 0) {
            swal({
                title: "Oops",
                text: "Your cart is empty. Please add items to your cart before placing an order.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
            return;
        }

        // Validate payment method selection
        var paymentMethod = document.querySelector('input[name="payment"]:checked');
        if (!paymentMethod) {
            console.error('Payment method not selected');
            // Optionally show an error message
            return;
        }

        var paymentValue = paymentMethod.value;
        console.log('Selected payment method:', paymentValue);

        // Validate selected shipping address
        var activeAddressButton = document.querySelector('#address-select .list-group-item.active');
        if (!activeAddressButton) {
            console.error('Shipping address not selected');
            // Optionally show an error message
            return;
        }

        var addressId = activeAddressButton.getAttribute('data-address-id');
        console.log('Selected address ID:', addressId);

        // Function to place order with confirmation if needed
        function placeOrderWithConfirmation(confirmation = false) {
            fetch("{% url 'place_order' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    payment: paymentValue,
                    shipping_address_id: addressId,
                    confirmation: confirmation  // Include confirmation flag
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'success') {
                    console.log('Order placed:', data);
                    // Optionally show a success modal or redirect to a success page
                    window.location.href = '{% url "order_success" %}'; // Replace with your success page URL
                } else if (data.status === 'error') {
                    if (data.confirmation_required) {
                        var errorMessage = data.messages.join('\n');  // Join all error messages into a single string
                        swal({
                            title: "Insufficient Stock",
                            text: errorMessage + "\nDo you want to place the order with the available stock?",
                            icon: "warning",
                            buttons: {
                                cancel: "No",
                                confirm: {
                                    text: "Yes",
                                    value: true,
                                    visible: true,
                                    closeModal: true
                                }
                            },
                            dangerMode: true,
                        }).then((willPlaceOrder) => {
                            if (willPlaceOrder) {
                                placeOrderWithConfirmation(true);  // Place order with confirmation
                            }
                        });
                    } else {
                        console.error('Error placing order:', data.message);
                        // Display error message to the user
                        var errorMessage = data.messages.join('\n');  // Join all error messages into a single string
                        swal({
                            title: "Error",
                            text: errorMessage,
                            icon: "error",
                            buttons: true,
                            dangerMode: true,
                        });
                    }
                }
            })
            .catch(error => {
                console.error('Error placing order:', error);
                // Optionally show an error modal or message
            });
        }

        // Perform AJAX request to place the order
        placeOrderWithConfirmation();
    });
});

</script>
<script>
    $(document).ready(function() {
        {% if show_modal %}
        $('#noAddressModal').modal('show');
        {% endif %}
    });
</script>
