{% load cart_extras %}
    {% include 'common.html' %}
    <style>
        .coupon{
            background-color: #edeadf ;
            border:2px solid #c8c8c8 !important;
        }
        .coupon_btn{
            margin-bottom: 10px;
        }
    </style>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'userHome' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'shop' %}">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


   <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Billing Address</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="address-select">Select Address</label>
                        <div id="address-select" class="list-group">
                            {% for address in addresses %}
                                <button type="button" class="list-group-item list-group-item-action {% if address == default_address %}active{% endif %}"
                                        data-address-id="{{ address.id }}"
                                        data-unit-number="{{ address.unit_number }}"
                                        data-street-number="{{ address.street_number }}"
                                        data-address-line1="{{ address.address_line1 }}"
                                        data-address-line2="{{ address.address_line2 }}"
                                        data-city="{{ address.city }}"
                                        data-region="{{ address.region }}"
                                        data-postal-code="{{ address.postal_code }}"
                                        data-country="{{ address.country }}">
                                    Address {{ forloop.counter }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Unit Number</label>
                        <input class="form-control" id="unit_number" type="text" value="{{ default_address.unit_number }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Street Number</label>
                        <input class="form-control" id="street_number" type="text" value="{{ default_address.street_number }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" id="address_line1" type="text" value="{{ default_address.address_line1 }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" id="address_line2" type="text" value="{{ default_address.address_line2 }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" id="city" type="text" value="{{ default_address.city }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Region</label>
                        <input class="form-control" id="region" type="text" value="{{ default_address.region }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Postal Code</label>
                        <input class="form-control" id="postal_code" type="text" value="{{ default_address.postal_code }}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <input class="form-control" id="country" type="text" value="{{ default_address.country }}" readonly>
                    </div>
                    <!-- Other form fields if needed -->
                </div>
                <a href="{% url 'addAddress' user.id %}"><button class="add-address-btn"><i class="fas fa-plus"></i> Add New Address</button></a>
            </div>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'viewCoupon' %}"><button class="btn btn-outline-primary btn-block coupon_btn">View Available Coupons</button></a>
            <form id="coupon-form" class="mb-30">
                <div class="input-group">
                    <input type="text" id="coupon-code" name="coupon_code" class="form-control border-0 p-4 coupon" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <div id="coupon-message"></div>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
<div class="bg-light p-30 mb-5">
    <div class="border-bottom">
        <h6 class="mb-3">Products</h6>
        {% for item in cart_items %}
            <div class="d-flex justify-content-between">
                <p>{{ item.product_configuration.product.name }}</p>
                {% if item.product_configuration.variation %}
                    <p>{{ item.product_configuration.variation.get_variation_display }}</p>
                {% endif %}
                <p>₹{{ item.product_configuration.price }} x {{ item.qty }}</p>
                <p>₹{{ item.qty|mul:item.product_configuration.price }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h6>Subtotal</h6>
            <h6>₹<span id="subtotal">{{ cart_items|calc_subtotal }}</span></h6>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <h6>Shipping</h6>
            <h6>₹10</h6>
        </div>
        {% if total_discount %}
        <div class="d-flex justify-content-between mt-2">
            <h6>Offer discount</h6>
            <h6>-₹<span id="offer-discount">{{ total_discount }}</span></h6>
        </div>
        {% endif %}
        <div id="discount-row" class="d-flex justify-content-between mt-2" style="display: none;">
            <h6>Coupon discount</h6>
            <h6>-₹<span id="discount-amount">0</span></h6>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>₹<span id="total-amount">{{ final_total }}</span></h5>
        </div>
    </div>
</div>

            
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="payment" id="razorpay" value="razorpay">
                    <label class="custom-control-label" for="razorpay">Razorpay</label>
                </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="cod" value="cod">
                            <label class="custom-control-label" for="cod">Cash On Delivery</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="Wallet" value="Wallet">
                            <label class="custom-control-label" for="Wallet">Wallet</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3" id="place-order-btn">Place Order</button>
                    <div id="razorpay-button-container" style="display: none;">
                        <!-- Razorpay button will be inserted here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                
    <!-- Checkout End -->

<!-- Modal -->
<div class="modal fade" id="addressConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="addressConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressConfirmationModalLabel">Confirm Your Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Address: <span id="userAddress"></span></p>
                <p>Are you sure you want to use this address for Cash on Delivery?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmAddressButton">Confirm</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Kerala,India</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>granddepart@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                    <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Sign Up</button>
                            </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Footer End -->
    <form id="checkoutForm" action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <!-- Payment Method Selection -->
    <div>
        <label for="payment">Payment Method:</label>
        <select name="payment" id="payment">
            {% for method in payment_methods %}
                <option value="{{ method.id }}">{{ method.provider }} ({{ method.payment_type.name }})</option>
            {% endfor %}
        </select>
    </div>
    <!-- Other checkout form fields here -->
    <button type="submit" class="btn btn-primary font-weight-bold py-3">Place Order</button>
    {% if show_modal %}
    <div class="modal" tabindex="-1" role="dialog" id="noAddressModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No Address Found</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>No address found for user. Please add an address to proceed with the checkout.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</form>
<!-- Hidden fields for permanent address -->
<input type="hidden" id="permanent_address_line1" name="permanent_address_line1">
<input type="hidden" id="permanent_address_line2" name="permanent_address_line2">
<input type="hidden" id="permanent_city" name="permanent_city">
<input type="hidden" id="permanent_state" name="permanent_state">
<input type="hidden" id="permanent_country" name="permanent_country">
<input type="hidden" id="permanent_postal_code" name="permanent_postal_code">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var couponForm = document.getElementById('coupon-form');
    var couponMessageDiv = document.getElementById('coupon-message');
    var discountRow = document.getElementById('discount-row');
    var discountAmountSpan = document.getElementById('discount-amount');
    var totalAmountSpan = document.getElementById('total-amount');
    var subtotalSpan = document.getElementById('subtotal');

    couponForm.addEventListener('submit', function(event) {
        event.preventDefault();
        var couponCode = document.getElementById('coupon-code').value;

        fetch("{% url 'apply_coupon' %}", {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
    },
    body: JSON.stringify({
        code: couponCode,
        order_total: parseFloat(totalAmountSpan.textContent)
    })
})
.then(response => response.json())
.then(data => {
    if (data.success) {
        console.log(data.message);
        
        let newTotal = parseFloat(data.new_total);
        let discountValue = parseFloat(data.discount_value);
        
        if (isNaN(newTotal) || isNaN(discountValue)) {
            throw new Error('Invalid numeric data received');
        }
        
        totalAmountSpan.textContent = newTotal.toFixed(2);
        discountAmountSpan.textContent = discountValue.toFixed(2);
        
        couponMessageDiv.textContent = data.message;
        couponMessageDiv.style.color = 'green';
    } else {
        // Handle error
        console.error(data.message);
        couponMessageDiv.textContent = data.message;
        couponMessageDiv.style.color = 'red';
    }
})
.catch(error => {
    console.error('Error:', error);
    couponMessageDiv.textContent = 'An error occurred while applying the coupon.';
    couponMessageDiv.style.color = 'red';
});
    });

    // ... (rest of your existing JavaScript code)

    // Update the place order function to include coupon code
    function placeOrderWithConfirmation(confirmation = false) {
        var couponCode = document.getElementById('coupon-code').value;
        fetch("{% url 'place_order' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                payment: paymentValue,
                shipping_address_id: addressId,
                confirmation: confirmation,
                coupon_code: couponCode  // Include coupon code in the order placement
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Order placed:', data);
                window.location.href = '{% url "order_success" %}';
            } else if (data.status === 'error') {
                if (data.confirmation_required) {
                    // ... (existing confirmation logic)
                } else {
                    console.error('Error placing order:', data.message);
                    swal({
                        title: "Error",
                        text: data.message,
                        icon: "error",
                        buttons: true,
                        dangerMode: true,
                    });
                }
            }
        })
        .catch(error => {
            console.error('Error placing order:', error);
            swal({
                title: "Error",
                text: "An error occurred while placing the order.",
                icon: "error",
                buttons: true,
                dangerMode: true,
            });
        });
    }
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM content loaded');

    if (typeof Razorpay === 'undefined') {
        console.error('Razorpay script not loaded');
    } else {
        console.log('Razorpay script loaded successfully');
    }

    const paymentRadios = document.querySelectorAll('input[name="payment"]');
    const razorpayButtonContainer = document.getElementById('razorpay-button-container');
    const placeOrderBtn = document.getElementById('place-order-btn');
    let orderPlaced = false; // Flag to prevent multiple order creations

    function updatePaymentUI() {
        const selectedPayment = document.querySelector('input[name="payment"]:checked');

        if (selectedPayment && selectedPayment.value === 'razorpay') {
            razorpayButtonContainer.innerHTML = '<button id="razorpay-pay-btn" class="btn btn-primary">Pay with Razorpay</button>';
            razorpayButtonContainer.style.display = 'block';
            placeOrderBtn.style.display = 'none';

            console.log('Razorpay button created');
            document.getElementById('razorpay-pay-btn').addEventListener('click', function(e) {
                e.preventDefault();
                const selectedAddressId = getSelectedAddressId();
                if (!selectedAddressId) {
                    alert("Please select a shipping address before proceeding to payment.");
                    return;
                }
                initiateRazorpayCheckout(selectedAddressId);
            });
        } else {
            razorpayButtonContainer.style.display = 'none';
            placeOrderBtn.style.display = 'block';
        }
    }

    function getSelectedAddressId() {
        const activeAddressButton = document.querySelector('#address-select .list-group-item.active');
        return activeAddressButton ? activeAddressButton.getAttribute('data-address-id') : null;
    }

    function initiateRazorpayCheckout(selectedAddressId) {
        console.log('initiateRazorpayCheckout function called');
        const amount = '{{ final_total }}';
        const couponCode = document.getElementById('coupon-code').value;
        console.log('Amount:', amount);
        console.log('Razorpay Key:', "{{ razorpay_key }}");
        console.log('CSRF Token:', '{{ csrf_token }}');
        console.log('Selected Address ID:', selectedAddressId);
        

        const permanentAddressLine1 = document.getElementById('permanent_address_line1').value;
        const permanentAddressLine2 = document.getElementById('permanent_address_line2').value;
        const permanentCity = document.getElementById('permanent_city').value;
        const permanentState = document.getElementById('permanent_state').value;
        const permanentCountry = document.getElementById('permanent_country').value;
        const permanentPostalCode = document.getElementById('permanent_postal_code').value;

        // Validate cart items
        var cartItems = {{ cart_items|length }};
        if (cartItems === 0) {
            swal({
                title: "Oops",
                text: "Your cart is empty. Please add items to your cart before placing an order.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
            return;
        }
        
        fetch('/razorpay_checkout/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'amount': amount,
                'coupon_code': couponCode
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.razorpay_order_id) {
                var options = {
                    "key": "{{ razorpay_key }}",
                    "amount": data.amount,
                    "currency": "INR",
                    "name": "Grand Depart",
                    "description": "Thank You",
                    "order_id": data.razorpay_order_id,
                    "handler": function (response) {
                        console.log('Handler function called');
                        console.log('Payment successful:', response);
                        if (!orderPlaced) {
                            orderPlaced = true;
                            placeOrder({
                                payment: 'razorpay',
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_signature: response.razorpay_signature,
                                shipping_address_id: selectedAddressId,
                                coupon_code: couponCode,
                                permanent_address_line1: permanentAddressLine1,
                                permanent_address_line2: permanentAddressLine2,
                                permanent_city: permanentCity,
                                permanent_state: permanentState,
                                permanent_country: permanentCountry,
                                permanent_postal_code: permanentPostalCode
                            });
                        }
                    },
                    "prefill": {
                        "name": "{{ user.get_full_name }}",
                        "email": "{{ user.email }}"
                    },
                    "theme": {
                        "color": "#3399cc"
                    },
                    "modal": {
                        "ondismiss": function () {
                            console.log('Checkout form closed');
                            alert('Payment cancelled');
                            if (!orderPlaced) {
                                orderPlaced = true;
                                placeOrderOnFailure(selectedAddressId, couponCode);
                            }
                        }
                    }
                };
                try {
                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed', function (response) {
                        console.error('Payment failed:', response.error);
                        alert("Payment failed. Error: " + response.error.description);
                        if (!orderPlaced) {
                            orderPlaced = true;
                            placeOrderOnFailure(selectedAddressId, couponCode);
                        }
                    });
                    console.log('Opening Razorpay popup');
                    rzp1.open();
                    console.log('Razorpay popup opened');
                } catch (error) {
                    console.error('Error initializing Razorpay:', error);
                    alert('Error initializing payment. Please try again.');
                }
            } else {
                console.error('Error:', data.error);
                alert('Error: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }

    function placeOrder(data) {
    console.log('Placing order:', data);
    fetch('/place_order/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Parsed response data:', data);
        if (data.status === 'success') {
            window.location.href = data.redirect_url; // Redirect to "My Orders" page
        } else {
            console.error('Error creating order:', data.message);
            swal({
                title: "Error",
                text: data.message || "Insufficient stock",
                icon: "error",
                button: "OK",
            }).then(() => {
                window.location.href = data.redirect_url; // Redirect to "My Orders" page on payment failure
            });
        }
    })
    .catch(error => {
        console.error('Error in fetch:', error);
        alert('An error occurred while creating the order. Please contact support.');
    });
}

    function placeOrderOnFailure(selectedAddressId, couponCode) {
        console.log('Placing order despite payment failure');
        placeOrder({
            payment: 'razorpay',
            razorpay_payment_id: '',
            razorpay_order_id: '',
            razorpay_signature: '',
            shipping_address_id: selectedAddressId,
            coupon_code: couponCode
        });
    }

    paymentRadios.forEach(radio => {
        radio.addEventListener('change', updatePaymentUI);
    });

    updatePaymentUI();
});

</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addressButtons = document.querySelectorAll('#address-select .list-group-item');

        addressButtons.forEach(button => {
            button.addEventListener('click', function() {
                addressButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');

                document.getElementById('unit_number').value = this.dataset.unitNumber || '';
                document.getElementById('street_number').value = this.dataset.streetNumber || '';
                document.getElementById('address_line1').value = this.dataset.addressLine1 || '';
                document.getElementById('address_line2').value = this.dataset.addressLine2 || '';
                document.getElementById('city').value = this.dataset.city || '';
                document.getElementById('region').value = this.dataset.region || '';
                document.getElementById('postal_code').value = this.dataset.postalCode || '';
                document.getElementById('country').value = this.dataset.country || '';
            });
        });

        // Trigger click event to populate form with default address on page load
        document.querySelector('#address-select .list-group-item.active').click();
    });
</script>
<!-- Include SweetAlert CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>
   document.addEventListener('DOMContentLoaded', function () {
    const addressButtons = document.querySelectorAll('#address-select .list-group-item');

    addressButtons.forEach(button => {
        button.addEventListener('click', function() {
            addressButtons.forEach(btn => btn.classList.remove('active'));
            this.classList.add('active');

            // Populate form fields with selected address data
            document.getElementById('unit_number').value = this.dataset.unitNumber || '';
            document.getElementById('street_number').value = this.dataset.streetNumber || '';
            document.getElementById('address_line1').value = this.dataset.addressLine1 || '';
            document.getElementById('address_line2').value = this.dataset.addressLine2 || '';
            document.getElementById('city').value = this.dataset.city || '';
            document.getElementById('region').value = this.dataset.region || '';
            document.getElementById('postal_code').value = this.dataset.postalCode || '';
            document.getElementById('country').value = this.dataset.country || '';

            // Populate hidden fields for permanent address
            document.getElementById('permanent_address_line1').value = this.dataset.addressLine1 || '';
            document.getElementById('permanent_address_line2').value = this.dataset.addressLine2 || '';
            document.getElementById('permanent_city').value = this.dataset.city || '';
            document.getElementById('permanent_state').value = this.dataset.region || '';
            document.getElementById('permanent_country').value = this.dataset.country || '';
            document.getElementById('permanent_postal_code').value = this.dataset.postalCode || '';
        });
    });

    // Trigger click event to populate form with default address on page load
    document.querySelector('#address-select .list-group-item.active').click();

    const placeOrderButton = document.getElementById('place-order-btn');
    placeOrderButton.addEventListener('click', function (event) {
        event.preventDefault();

        // Validate cart items
        var cartItems = {{ cart_items|length }};
        if (cartItems === 0) {
            swal({
                title: "Oops",
                text: "Your cart is empty. Please add items to your cart before placing an order.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
            return;
        }

        // Validate payment method selection
        var paymentMethod = document.querySelector('input[name="payment"]:checked');
        if (!paymentMethod) {
            swal({
                title: "Error",
                text: "Please select a payment method.",
                icon: "error",
                button: "OK",
            });
            return;
        }
        
        var paymentValue = paymentMethod.value;

        // Validate selected shipping address
        var activeAddressButton = document.querySelector('#address-select .list-group-item.active');
        if (!activeAddressButton) {
            console.error('Shipping address not selected');
            return;
        }

        var addressId = activeAddressButton.getAttribute('data-address-id');
        var orderTotal = parseFloat(document.getElementById('total-amount').textContent);
        if (paymentValue === 'cod' && orderTotal > 1000) {
            swal({
                title: "COD Limit Exceeded",
                text: "Cash on Delivery is not available for orders above ₹1000. Please choose a different payment method.",
                icon: "warning",
                button: "OK",
            });
            return;
        }
        
        function placeOrderWithConfirmation(confirmation = false) {
            const couponCode = document.getElementById('coupon-code').value;
            const permanentAddressLine1 = document.getElementById('permanent_address_line1').value;
            const permanentAddressLine2 = document.getElementById('permanent_address_line2').value;
            const permanentCity = document.getElementById('permanent_city').value;
            const permanentState = document.getElementById('permanent_state').value;
            const permanentCountry = document.getElementById('permanent_country').value;
            const permanentPostalCode = document.getElementById('permanent_postal_code').value;

            fetch("{% url 'place_order' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    payment: paymentValue,
                    shipping_address_id: addressId,
                    confirmation: confirmation,
                    coupon_code: couponCode,
                    permanent_address_line1: permanentAddressLine1,
                    permanent_address_line2: permanentAddressLine2,
                    permanent_city: permanentCity,
                    permanent_state: permanentState,
                    permanent_country: permanentCountry,
                    permanent_postal_code: permanentPostalCode
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'success') {
                    console.log('Order placed:', data);
                    window.location.href = '{% url "order_success" %}';
                } else if (data.status === 'error') {
                    if (data.confirmation_required) {
                        var errorMessage = data.messages.join('\n');
                        swal({
                            title: "Insufficient Stock",
                            text: errorMessage + "\nDo you want to place the order with the available stock?",
                            icon: "warning",
                            buttons: {
                                cancel: "No",
                                confirm: {
                                    text: "Yes",
                                    value: true,
                                    visible: true,
                                    closeModal: true
                                }
                            },
                            dangerMode: true,
                        }).then((willPlaceOrder) => {
                            if (willPlaceOrder) {
                                placeOrderWithConfirmation(true);
                            }
                        });
                    } else {
                        var errorMessage = Array.isArray(data.messages) ? data.messages.join('\n') : (data.message || data.error);
                        swal({
                            title: "Error",
                            text: errorMessage,
                            icon: "error",
                            button: "OK",
                        });
                    }
                }
            })
            .catch(error => {
                console.error('Error placing order:', error);
            });
        }

        placeOrderWithConfirmation();
    });
});


</script>
<script>
    $(document).ready(function() {
        {% if show_modal %}
        $('#noAddressModal').modal('show');
        {% endif %}
    });
</script>
